<!DOCTYPE html>
<html lang="de">
  <head>
    <% include commenHead %>
    <title>Hack the Web - Anmeldung erfolgreich</title>
  </head>
  <body>
    <div class="container">
      <% include header %>
      <hr />
      
      <h2>Datenschutzerklärung</h2>
         
      <br>
      
      <h3>Persönliche Daten</h3>
      
      <p>Wir nehmen den Schutz deiner persönlichen Daten sehr ernst. Du kannst das Angebot von HackTheWeb nutzen, ohne personenbezogene Daten weiterzugeben. Die Registrierung funktioniert ohne Angabe einer E-Mail-Adresse, stattdessen gibt du ein selbstgewähltes Pseudonym an. Das stellt sicher, dass kein Missbrauch mit deinen personenbezogenen Daten stattfinden kann oder diese an Dritte weitergegeben werden. Außerdem wird dein Passwort verschlüsselt in der Datenbank gespeichert und kann technisch nicht ausgelesen werden (sondern nur zur Anmeldung geprüft werden).
      </p>
      
      <h3>Server-Logs</h3>
      
      <p>Bei Nutzung dieser Websites erstellen wir teilweise Webserver-Protokolle, die Datum und Uhrzeit, den abgerufenen URL-Pfad, ggf. den Referrer sowie den verwendeten Browser enthalten; deine IP-Adresse wird dabei allerdings mittels IP-Masking anonymisiert, so dass uns keine personenbezogenen Daten vorliegen. 
      </p>
      
      <h3>Cookies</h3>
      
      <p>Wenn du dich bei HackTheWeb registrierst bzw. einloggst, setzt die Website einen Cookie mit einer Session-ID. Diese wird benötigt, um deinen Login-Status aufrechtzuerhalten und braucht keine gesonderte Einwilligung. Der Cookie wird beim Schließen des Browserfensters automatisch gelöscht. Ein Tracking findet damit nicht statt.
      </p>
      
      <h3>Accountdaten</h3>
      
      <p>Dein Benutzername wird in der Highscore öffentlicht angezeigt. Aus den gelösten Aufgaben werden Statistiken erstellt und bei der jeweiligen Aufgabe angezeigt. Mit der Registrierung erklärst du dich damit einverstanden.
      </p>
      
    </div>
  </body>
</htm>
