<!DOCTYPE html>
<html lang="de">
  <head>
    <% include commenHead %>
    <title>Hack the Web</title>
  </head>
  <body>
    <div class="container">
      <% include header %>
      <hr />
      
      <h2>Herzlichen Gl端ckwunsch!</h2>
      
      <p>Du hast die Session erfolgreich absolviert. Deine 30 Minuten sind nun abgelaufen.</p>
      
      <p>Klicke auf OK, um dein Ergebnis in der Highscore zu speichern. Danach wird dein Account in den freien Modus geschaltet. Du kannst an den Aufgaben weiterarbeiten - ganz ohne Zeitdruck</p>
      
      <p>Vielen Dank f端r die Teilnahme. Wir w端nschen dir alles Gute f端r deine Zukunft als Hacker!</p>
      
      [<a href="/endsession">OK</a>]
      
    </div>
  </body>
</html>
