<!DOCTYPE html>
<html>
  <head>
    <% include commenHead %>
    <title>Bestenliste</title>
  </head>
  <body>
    <div class="container">
      <% include status %>
      <% include header %>
      <hr />
      <h2>Bestenliste</h2>
      <p><a href="/">zurück</a></p>
      <br>
      
      <% if (users.length == 0) { %>
        <p>Aktuell sind noch keine Platzierungen vorhanden.</p>
      <% } else { %>
        <div class="col-lg-3 col-md-3 col-sm-4">
          <div class="list-group">
            <%
              var lastP = undefined
              var lastR = -1
              for (var i = 0; i < users.length; i++) { 
              if (users[i].points == 0)
                break
            %>
              <div class="list-group-item">
                <%
                  var rank = i+1
                  if (!lastP || users[i].points < lastP) {
                    lastP = users[i].points
                    lastR = rank
                  } else {
                    rank = lastR
                  }
                %>
                <%=rank%>. <%=users[i].uname %> [<%=Math.floor(users[i].points)%>]
              </div>
            <% } %>
          </div>
        </div>
        
      <% } %>
      </p>
    </div>
  </bod>
</html>
