<!DOCTYPE html>
<html lang="de">
  <head>
    <% include commenHead %>
    <title>Hack the Web - Anmeldung erfolgreich</title>
  </head>
  <body>
    <div class="container">
      <% include header %>
      <hr />
      <h2>Kontakt / Impressum</h2>
         
      <br><br>
      
      <h4>Autor und Betreiber von HackTheWeb:</h4>
      <br>
      <p><%-post%><br>E-Mail: <a rel="nofollow" href="mailto:<%-email%>"><%=email%></a></p>
      </p>
      <br>
      <h4>Haftungshinweis</h4>
      
      <p>Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich. 
      </p>
    </div>
  </body>
</htm>
