<!DOCTYPE html>
<html lang="de">
  <head>
    <% include commenHead %>
    <title>Hack the Web - Anmeldung erfolgreich</title>
  </head>
  <body>
    <div class="container">
      <% include header %>
      <hr />
      <br>
      <p>Du hast dich erfolgreich registriert. [<a href="/">zum Login</a>]</p>
    </div>
  </body>
</htm>
