<h2><%= t('title') %></h2>

<p><%- t('confirm') %>
</p>

<form method="POST" autocomplete="off">
  <input name="username"><span style="display:inline-block;width:20px"></span>
  <input type="submit" class="btn btn-danger" value="<%= t('title') %>">
</form>
