<% if (props.messages.length > 0) { %>
  <div class="alert alert-danger"><%-props.messages.join('<br>')%></div>
<% } %>

<p><%- t('confirm_') %>
</p>

<form method="POST" autocomplete="off">
  <input name="username" style="height:32px"><span style="display:inline-block;width:10px"></span>
  <input type="submit" class="btn btn-danger" value="<%= t('heading') %>" style="height:32px;line-height:1;vertical-align:bottom;margin-top:10px;">
  <input type="hidden" name="csrf" value="<%=props.token%>"/>
</form>
