
<style type="text/css">
  .no-underline {
    text-decoration: none !important;
  }
  body {
    background-image:url(<%- App.config.map.background %>);
  }
  .drawing {
    width: 1600px;
    height: 1200px;
    position: relative;
  }
  .license {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
</style>

<div class="drawing">
  <%- props.map %>
  <span class="license">
    <%= t.background %>
    <%- App.config.map.backgroundLicenseHtml %>
  </span>
</div>
